ion-content{
    --ion-background-color: rgb(2,0,36);
    --ion-background-color: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%);
}

ion-button {
    margin-top: 20px;
}

.thirdbtn {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}